<h2>Characters:</h2>
<label>Filter:
    <input #filterInput (keydown.enter)="setFilter(filterInput.value)"/>
</label>
<div class='character-list'>
    <a *ngFor='let character of characters' class='character-list-item' routerLink="/character/{{character.id}}">
        <div class='character-image'>
            <img src='{{character.image}}' />
        </div>
        <div class='character-name'>{{character.name}}</div>
        <div class='character-status'>{{character.status}}</div>
        <div class='character-species'>{{character.species}}</div>
        <div class='character-type'>{{character.type}}</div>
    </a>
</div>