.character-list {
    display: flex;
    flex-wrap: wrap;
}

.character-list-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
}

.character-name {
    font-size: 20px;
}

.character-image {
    margin-bottom: 10px;
}

.favorite {
    margin: 5px;
    padding: 5px;
    background-color: rgb(30,30,30);
    cursor: pointer;
}