<div class='character-list'>
    <div *ngFor='let character of characters' class='character-list-item'>
        <a class='character-image' routerLink="/character/{{character.id}}">
            <img src='{{character.image}}' />
        </a>
        <div class='character-name'>{{character.name}}</div>
        <div class='character-status'>{{character.status}}</div>
        <div class='character-species'>{{character.species}}</div>
        <div class='character-type'>{{character.type}}</div>
    </div>
</div>
