.character-list {
    display: flex;
    flex-wrap: wrap;
}

.character-list-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.character-name {
    font-size: 20px;
}

.favorite {
    cursor: pointer;
}